body {
    font: 14px "Comic Sans MS", Futura, sans-serif;
    margin: 10px;
    background-color: burlywood;
    opacity: 0.8;
  }
  
  .h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square:hover {
    background-color:blueviolet
  }

  .square {
    background: pink; 
    border: 5px solid rgb(0, 0, 0);
    float: left;
    font-stretch: 50%;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }
  
  .square:focus {
    outline: none;
    outline-style: groove;
    outline-color: invert; 
  }
  
  .kbd-navigation .square:focus {
    background: rgb(221, 221, 221);
  }
  
  .game {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .game-info {
    display: block;
    margin-left: 0px;
  }
  
button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.7s;  
  font: 14px "Comic Sans MS", Futura, sans-serif;
    width: 70px;
    height: 70px;
    background-image: url(C:\dev\tic-tac-toe\src\Doge.jpg)
  }

button:hover {
  background-image: url(C:\dev\tic-tac-toe\src\bidoofSquare.jpg);
    width: 70px;
    height: 70px;
	transform: scale(1.05);
  transform: rotate(1turn);
}
  