body {
  font: 14px "Comic Sans MS", Futura, sans-serif;
  margin: 10px;
  background-color: burlywood;
  opacity: 0.8;
  display: grid;
  justify-content: center;
  align-content: center;
  animation: colorRotate 0.5s linear 0s infinite;

}

  .game {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(10px, auto);
    background-image: url(C:\dev\tic-tac-toe\src\bird-parrot.gif);
    }

  ol {
    display: grid;
    grid-gap: 0.5em;
    margin: auto;
    background-size:contain;
    width: 150px;
    height: 400px;
    overflow: scroll;
    transform: rotate(3deg);
    border: 5px solid purple;
  }

  li {
    display: grid;
    background-color: greenyellow;
    width: 110px;
    height: 110px;
    overflow: scroll;
    padding: 0.05em;
    transform: rotate(-3deg);
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    transition-duration: 1s;  
    background: pink; 
    border: 5px solid rgb(0, 0, 0);
    float: left;
    font-stretch: 50%;
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }

  .square:hover {
    font: 70px "Wingdings", Futura, sans-serif;
    margin-right: 15px;
    text-align: right;
    padding: 15px;
    background-color:blueviolet;
    transform: rotate(0.99turn);
  }
  
  .square:focus {
    width: 70px;
    height: 70px;
    outline: lawngreen;
    outline-style: groove;
    outline-color: invert;
    transform: scale(1.1);
    transition-duration: 1s;  
  }
  
  ol.Moves 
  {
    display: grid;
    grid-auto-flow: row;
  }

  .Moves button {
    font: 15px "Comic Sans MS", Futura, sans-serif;
    color: red;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 1s;  
    width: 70px;
    height: 70px;
    background-image: url(C:\dev\tic-tac-toe\src\Doge.jpg)
  }
  
  .Moves button:hover {
    background-image: url(C:\dev\tic-tac-toe\src\bidoofSquare.jpg);
    transform: rotate(1turn);
  }
  
  .Moves button:focus {
    transform:scale(1.1);
  }

  .resetButton {
    display: grid;
    grid-gap: 1em;
    transition-duration: 1s;  
    width: 70px;
    height: 70px;
  }

  .resetButton button {
    font-display: none;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
    transition-duration: 1s;  
    width: 70px;
    height: 70px;
    background-image: url(C:\dev\tic-tac-toe\src\Doge.jpg);
  }

  .resetButton:hover {
    transform: rotate(-1turn);
  }

  .resetButton button:focus {
    transform: scale(2);
    background-image: url(C:\dev\tic-tac-toe\src\bidoofSquare.jpg);
   }
  
  .gameCount{
    font: 25px "Comic Sans MS", Futura, sans-serif;
    display: grid;
    grid-gap: 0.5em;
    grid-auto-flow: column;
  }

  @keyframes colorRotate {
    from {
      color: #6666FF;
    }
    10% {
      color: #0099FF;
    }
    50% {
      color: #00FF00;
    }
    75% {
      color: #FF3399;
    }
    100% {
      color: #6666FF;
    }
  }
  .rainbow {
    animation: colorRotate 1s linear 0s infinite;
  }